
fieldset {
  width: 700px;
  background: linear-gradient(rgb(241, 241, 241), white);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 1px;
  color: rgb(17, 17, 17);
  align-items: center;
  line-height: 10px;
  border-style: none;
  margin-top : 520px
}






input {
  background-color: inherit;
  width:150px;
  font-size: 1.8rem;
  color: #000;
  font-family: Circular Std Bold,sans-serif;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.15);
  padding: 1px;
  transition: opacity .3s ease-in-out;

}

